build*
eclipse*
xcode*
neo/ipch
*~
*.gch
*.dll
*.exe
*.7z
*.zip
.DS_Store
imgui.ini

Doom3BFG.exe
base/_common.crc
base/_common.resources
base/_ordered.crc
base/_ordered.resources
base/_sound_pc.crc
base/_sound_pc.resources
base/_sound_pc_en.crc
base/_sound_pc_en.resources
base/_sound_pc_fr.crc
base/_sound_pc_gr.crc
base/_sound_pc_gr.resources
base/_sound_pc_it.crc
base/_sound_pc_jp.crc
base/_sound_pc_sp.crc
base/autoexec.cfg
base/classicmusic/
base/joy_360_0.cfg
base/joy_360_1.cfg
base/joy_lefty.cfg
base/joy_righty.cfg
base/maps/
base/sound/
base/strings/
base/video/
base/wads/
base/renderprogs2/
base/generated/

GPATH
GRTAGS
GSYMS
GTAGS
HTML/
neo/.kdev4
neo/neo.kdev4
neo/.idea/
neo/cmake-build-*/
