# Make 100% sure that .cpp and .h files are C++
*.cpp linguist-language=C++
*.hpp linguist-langauge=C++
*.h linguist-language=C++

# Don't count 3rd-party libraries
neo/libs/* linguist-vendored

# Make sure script files always have CRLF line endings for save file checksum portability
*.script text eol=crlf
